p {
    width: 100%;
    line-height: 2em;
}

.summary {
    display: inline;
    padding-left: 1em;
    line-height: 2em;
}

.fixed-width {
    display: inline-block;
    min-width: 6em;
}

a {
    color: #268bd2;
    text-decoration: none;
}

html {
    color: #93a1a1;
    font-family: "Helvetica";
}

h3 {
    color: #93a1a1;
}

time {
    color: #93a1a1;
}

body {
    background-color: #002b36;
}
